# Required only for GitHub OAuth in the extension popup.
# GITHUB_CLIENT_ID must match extension/src/config.js.
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GHA_EXTENSION_ORIGINS=chrome-extension://hgehgkjceklknibnacgjhefociphnhaf

#E2E
TEST_GITHUB_TOKEN=
TEST_GITHUB_USERNAME=
