<project>
  <files
    default_encoding="UTF-8"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="Python"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="backend">
        <dir
          name="analysis">
          <dir
            name="tests"/>
        </dir>
        <dir
          name="core">
          <dir
            name="utils"/>
        </dir>
        <dir
          name="data"/>
        <dir
          name="ghaminer">
          <dir
            name="src"/>
        </dir>
      </dir>
      <dir
        name="extension">
        <dir
          name="build">
          <dir
            name="assets"/>
          <dir
            name="popup"/>
          <dir
            name="src">
            <dir
              name="dashboard"/>
            <dir
              name="popup"/>
          </dir>
        </dir>
        <dir
          name="node_modules">
          <dir
            name="@babel">
            <dir
              name="code-frame">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="compat-data"/>
            <dir
              name="core">
              <dir
                name="lib">
                <dir
                  name="config">
                  <dir
                    name="files"/>
                  <dir
                    name="helpers"/>
                  <dir
                    name="validation"/>
                </dir>
                <dir
                  name="errors"/>
                <dir
                  name="gensync-utils"/>
                <dir
                  name="parser">
                  <dir
                    name="util"/>
                </dir>
                <dir
                  name="tools"/>
                <dir
                  name="transformation">
                  <dir
                    name="file"/>
                  <dir
                    name="util"/>
                </dir>
                <dir
                  name="vendor"/>
              </dir>
              <dir
                name="src">
                <dir
                  name="config">
                  <dir
                    name="files"/>
                </dir>
                <dir
                  name="transformation"/>
              </dir>
            </dir>
            <dir
              name="generator">
              <dir
                name="lib">
                <dir
                  name="generators"/>
                <dir
                  name="node"/>
              </dir>
            </dir>
            <dir
              name="helper-compilation-targets">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="helper-module-imports">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="helper-module-transforms">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="helper-plugin-utils">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="helper-string-parser">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="helper-validator-identifier">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="helper-validator-option">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="helpers">
              <dir
                name="lib">
                <dir
                  name="helpers"/>
              </dir>
            </dir>
            <dir
              name="parser">
              <dir
                name="bin"/>
              <dir
                name="lib"/>
              <dir
                name="typings"/>
            </dir>
            <dir
              name="plugin-transform-react-jsx-self">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="plugin-transform-react-jsx-source">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="template">
              <dir
                name="lib"/>
            </dir>
            <dir
              name="traverse">
              <dir
                name="lib">
                <dir
                  name="path">
                  <dir
                    name="inference"/>
                  <dir
                    name="lib"/>
                </dir>
                <dir
                  name="scope">
                  <dir
                    name="lib"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="types">
              <dir
                name="lib">
                <dir
                  name="asserts">
                  <dir
                    name="generated"/>
                </dir>
                <dir
                  name="ast-types">
                  <dir
                    name="generated"/>
                </dir>
                <dir
                  name="builders">
                  <dir
                    name="flow"/>
                  <dir
                    name="generated"/>
                  <dir
                    name="react"/>
                  <dir
                    name="typescript"/>
                </dir>
                <dir
                  name="clone"/>
                <dir
                  name="comments"/>
                <dir
                  name="constants">
                  <dir
                    name="generated"/>
                </dir>
                <dir
                  name="converters"/>
                <dir
                  name="definitions"/>
                <dir
                  name="modifications">
                  <dir
                    name="flow"/>
                  <dir
                    name="typescript"/>
                </dir>
                <dir
                  name="retrievers"/>
                <dir
                  name="traverse"/>
                <dir
                  name="utils">
                  <dir
                    name="react"/>
                </dir>
                <dir
                  name="validators">
                  <dir
                    name="generated"/>
                  <dir
                    name="react"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="@jridgewell">
            <dir
              name="gen-mapping">
              <dir
                name="dist">
                <dir
                  name="types"/>
              </dir>
              <dir
                name="src"/>
              <dir
                name="types"/>
            </dir>
            <dir
              name="remapping">
              <dir
                name="dist"/>
              <dir
                name="src"/>
              <dir
                name="types"/>
            </dir>
            <dir
              name="resolve-uri">
              <dir
                name="dist">
                <dir
                  name="types"/>
              </dir>
            </dir>
            <dir
              name="sourcemap-codec">
              <dir
                name="dist"/>
              <dir
                name="src"/>
              <dir
                name="types"/>
            </dir>
            <dir
              name="trace-mapping">
              <dir
                name="dist"/>
              <dir
                name="src"/>
              <dir
                name="types"/>
            </dir>
          </dir>
          <dir
            name="@playwright">
            <dir
              name="test"/>
          </dir>
          <dir
            name="@reduxjs">
            <dir
              name="toolkit">
              <dir
                name="dist">
                <dir
                  name="cjs"/>
                <dir
                  name="query">
                  <dir
                    name="cjs"/>
                  <dir
                    name="react">
                    <dir
                      name="cjs"/>
                  </dir>
                </dir>
                <dir
                  name="react">
                  <dir
                    name="cjs"/>
                </dir>
              </dir>
              <dir
                name="node_modules">
                <dir
                  name="immer">
                  <dir
                    name="dist">
                    <dir
                      name="cjs"/>
                  </dir>
                  <dir
                    name="src">
                    <dir
                      name="core"/>
                    <dir
                      name="plugins"/>
                    <dir
                      name="types"/>
                    <dir
                      name="utils"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="src">
                <dir
                  name="dynamicMiddleware">
                  <dir
                    name="react"/>
                  <dir
                    name="tests"/>
                </dir>
                <dir
                  name="entities">
                  <dir
                    name="tests">
                    <dir
                      name="fixtures"/>
                  </dir>
                </dir>
                <dir
                  name="listenerMiddleware">
                  <dir
                    name="tests"/>
                </dir>
                <dir
                  name="query">
                  <dir
                    name="core">
                    <dir
                      name="buildMiddleware"/>
                  </dir>
                  <dir
                    name="react"/>
                  <dir
                    name="tests">
                    <dir
                      name="mocks"/>
                  </dir>
                  <dir
                    name="utils"/>
                </dir>
                <dir
                  name="react"/>
                <dir
                  name="tests">
                  <dir
                    name="utils"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="@rolldown">
            <dir
              name="pluginutils">
              <dir
                name="dist"/>
            </dir>
          </dir>
          <dir
            name="@standard-schema">
            <dir
              name="spec">
              <dir
                name="dist"/>
            </dir>
            <dir
              name="utils">
              <dir
                name="dist"/>
            </dir>
          </dir>
          <dir
            name="@types">
            <dir
              name="babel__core"/>
            <dir
              name="babel__generator"/>
            <dir
              name="babel__template"/>
            <dir
              name="babel__traverse"/>
            <dir
              name="d3-array"/>
            <dir
              name="d3-color"/>
            <dir
              name="d3-ease"/>
            <dir
              name="d3-interpolate"/>
            <dir
              name="d3-path"/>
            <dir
              name="d3-scale"/>
            <dir
              name="d3-shape"/>
            <dir
              name="d3-time"/>
            <dir
              name="d3-timer"/>
            <dir
              name="estree"/>
            <dir
              name="node">
              <dir
                name="assert"/>
              <dir
                name="dns"/>
              <dir
                name="fs"/>
              <dir
                name="inspector"/>
              <dir
                name="path"/>
              <dir
                name="readline"/>
              <dir
                name="stream"/>
              <dir
                name="test"/>
              <dir
                name="timers"/>
              <dir
                name="ts5.6">
                <dir
                  name="compatibility"/>
              </dir>
              <dir
                name="ts5.7">
                <dir
                  name="compatibility"/>
              </dir>
              <dir
                name="util"/>
              <dir
                name="web-globals"/>
              <dir
                name="zlib"/>
            </dir>
            <dir
              name="use-sync-external-store">
              <dir
                name="shim"/>
            </dir>
          </dir>
          <dir
            name="@vitejs">
            <dir
              name="plugin-react">
              <dir
                name="dist"/>
            </dir>
          </dir>
          <dir
            name="baseline-browser-mapping">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="browserslist"/>
          <dir
            name="caniuse-lite">
            <dir
              name="data">
              <dir
                name="features"/>
              <dir
                name="regions"/>
            </dir>
            <dir
              name="dist">
              <dir
                name="lib"/>
              <dir
                name="unpacker"/>
            </dir>
          </dir>
          <dir
            name="clsx">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="convert-source-map"/>
          <dir
            name="d3-array">
            <dir
              name="dist"/>
            <dir
              name="src">
              <dir
                name="threshold"/>
            </dir>
          </dir>
          <dir
            name="d3-color">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="d3-ease">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="d3-format">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="d3-interpolate">
            <dir
              name="dist"/>
            <dir
              name="src">
              <dir
                name="transform"/>
            </dir>
          </dir>
          <dir
            name="d3-path">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="d3-scale">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="d3-shape">
            <dir
              name="dist"/>
            <dir
              name="src">
              <dir
                name="curve"/>
              <dir
                name="offset"/>
              <dir
                name="order"/>
              <dir
                name="symbol"/>
            </dir>
          </dir>
          <dir
            name="d3-time">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="d3-time-format">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="d3-timer">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="debug">
            <dir
              name="src"/>
          </dir>
          <dir
            name="decimal.js-light">
            <dir
              name="doc"/>
          </dir>
          <dir
            name="electron-to-chromium"/>
          <dir
            name="es-toolkit">
            <dir
              name="compat"/>
            <dir
              name="dist">
              <dir
                name="_internal"/>
              <dir
                name="array"/>
              <dir
                name="compat">
                <dir
                  name="_internal"/>
                <dir
                  name="array"/>
                <dir
                  name="function"/>
                <dir
                  name="math"/>
                <dir
                  name="object"/>
                <dir
                  name="predicate"/>
                <dir
                  name="string"/>
                <dir
                  name="util"/>
              </dir>
              <dir
                name="error"/>
              <dir
                name="function"/>
              <dir
                name="math"/>
              <dir
                name="object"/>
              <dir
                name="predicate"/>
              <dir
                name="promise"/>
              <dir
                name="string"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="src">
              <dir
                name="compat">
                <dir
                  name="_internal"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="esbuild">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="escalade">
            <dir
              name="dist"/>
            <dir
              name="sync"/>
          </dir>
          <dir
            name="eventemitter3">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="fdir">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="gensync">
            <dir
              name="test"/>
          </dir>
          <dir
            name="immer">
            <dir
              name="dist">
              <dir
                name="cjs"/>
            </dir>
            <dir
              name="src">
              <dir
                name="core"/>
              <dir
                name="plugins"/>
              <dir
                name="types"/>
              <dir
                name="utils"/>
            </dir>
          </dir>
          <dir
            name="internmap">
            <dir
              name="dist"/>
            <dir
              name="src"/>
          </dir>
          <dir
            name="js-tokens"/>
          <dir
            name="jsesc"/>
          <dir
            name="json5">
            <dir
              name="dist"/>
            <dir
              name="lib"/>
          </dir>
          <dir
            name="lru-cache"/>
          <dir
            name="ms"/>
          <dir
            name="nanoid">
            <dir
              name="async"/>
            <dir
              name="bin"/>
            <dir
              name="non-secure"/>
            <dir
              name="url-alphabet"/>
          </dir>
          <dir
            name="picocolors"/>
          <dir
            name="picomatch">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="playwright">
            <dir
              name="lib">
              <dir
                name="agents"/>
              <dir
                name="cli"/>
              <dir
                name="common"/>
              <dir
                name="loader"/>
              <dir
                name="matchers"/>
              <dir
                name="mcp">
                <dir
                  name="test"/>
              </dir>
              <dir
                name="runner"/>
              <dir
                name="transform"/>
              <dir
                name="worker"/>
            </dir>
            <dir
              name="types"/>
          </dir>
          <dir
            name="playwright-core">
            <dir
              name="lib">
              <dir
                name="entry"/>
              <dir
                name="server">
                <dir
                  name="electron"/>
              </dir>
              <dir
                name="tools">
                <dir
                  name="cli-client"/>
                <dir
                  name="utils"/>
              </dir>
              <dir
                name="vite">
                <dir
                  name="dashboard">
                  <dir
                    name="assets"/>
                </dir>
                <dir
                  name="htmlReport"/>
                <dir
                  name="recorder">
                  <dir
                    name="assets"/>
                </dir>
                <dir
                  name="traceViewer">
                  <dir
                    name="assets"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="types"/>
          </dir>
          <dir
            name="postcss">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="react">
            <dir
              name="cjs"/>
          </dir>
          <dir
            name="react-dom">
            <dir
              name="cjs"/>
          </dir>
          <dir
            name="react-is">
            <dir
              name="cjs"/>
            <dir
              name="umd"/>
          </dir>
          <dir
            name="react-redux">
            <dir
              name="dist">
              <dir
                name="cjs"/>
            </dir>
            <dir
              name="src">
              <dir
                name="components"/>
              <dir
                name="connect"/>
              <dir
                name="hooks"/>
              <dir
                name="utils"/>
            </dir>
          </dir>
          <dir
            name="react-refresh">
            <dir
              name="cjs"/>
          </dir>
          <dir
            name="recharts">
            <dir
              name="es6">
              <dir
                name="animation"/>
              <dir
                name="cartesian"/>
              <dir
                name="chart"/>
              <dir
                name="component"/>
              <dir
                name="container"/>
              <dir
                name="context"/>
              <dir
                name="polar"/>
              <dir
                name="shape"/>
              <dir
                name="state">
                <dir
                  name="selectors">
                  <dir
                    name="combiners"/>
                </dir>
                <dir
                  name="types"/>
              </dir>
              <dir
                name="synchronisation"/>
              <dir
                name="util">
                <dir
                  name="cursor"/>
                <dir
                  name="payload"/>
                <dir
                  name="scale">
                  <dir
                    name="util"/>
                </dir>
                <dir
                  name="stacks"/>
                <dir
                  name="tooltip"/>
              </dir>
              <dir
                name="zIndex"/>
            </dir>
            <dir
              name="lib">
              <dir
                name="animation"/>
              <dir
                name="cartesian"/>
              <dir
                name="chart"/>
              <dir
                name="component"/>
              <dir
                name="container"/>
              <dir
                name="context"/>
              <dir
                name="polar"/>
              <dir
                name="shape"/>
              <dir
                name="state">
                <dir
                  name="selectors">
                  <dir
                    name="combiners"/>
                </dir>
                <dir
                  name="types"/>
              </dir>
              <dir
                name="synchronisation"/>
              <dir
                name="util">
                <dir
                  name="cursor"/>
                <dir
                  name="payload"/>
                <dir
                  name="scale">
                  <dir
                    name="util"/>
                </dir>
                <dir
                  name="stacks"/>
                <dir
                  name="tooltip"/>
              </dir>
              <dir
                name="zIndex"/>
            </dir>
            <dir
              name="types">
              <dir
                name="animation"/>
              <dir
                name="cartesian"/>
              <dir
                name="chart"/>
              <dir
                name="component"/>
              <dir
                name="container"/>
              <dir
                name="context"/>
              <dir
                name="polar"/>
              <dir
                name="shape"/>
              <dir
                name="state">
                <dir
                  name="selectors">
                  <dir
                    name="combiners"/>
                </dir>
                <dir
                  name="types"/>
              </dir>
              <dir
                name="synchronisation"/>
              <dir
                name="util">
                <dir
                  name="cursor"/>
                <dir
                  name="payload"/>
                <dir
                  name="scale">
                  <dir
                    name="util"/>
                </dir>
                <dir
                  name="stacks"/>
                <dir
                  name="tooltip"/>
              </dir>
              <dir
                name="zIndex"/>
            </dir>
            <dir
              name="umd"/>
          </dir>
          <dir
            name="redux">
            <dir
              name="dist">
              <dir
                name="cjs"/>
            </dir>
            <dir
              name="src">
              <dir
                name="types"/>
              <dir
                name="utils"/>
            </dir>
          </dir>
          <dir
            name="redux-thunk">
            <dir
              name="dist">
              <dir
                name="cjs"/>
            </dir>
            <dir
              name="src"/>
          </dir>
          <dir
            name="reselect">
            <dir
              name="dist">
              <dir
                name="cjs"/>
            </dir>
            <dir
              name="src">
              <dir
                name="autotrackMemoize"/>
              <dir
                name="devModeChecks"/>
              <dir
                name="versionedTypes"/>
            </dir>
          </dir>
          <dir
            name="rollup">
            <dir
              name="dist">
              <dir
                name="es">
                <dir
                  name="shared"/>
              </dir>
              <dir
                name="shared"/>
            </dir>
          </dir>
          <dir
            name="scheduler">
            <dir
              name="cjs"/>
          </dir>
          <dir
            name="semver">
            <dir
              name="bin"/>
          </dir>
          <dir
            name="source-map-js">
            <dir
              name="lib"/>
          </dir>
          <dir
            name="tiny-invariant">
            <dir
              name="dist">
              <dir
                name="esm"/>
            </dir>
            <dir
              name="src"/>
          </dir>
          <dir
            name="tinyglobby">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="undici-types"/>
          <dir
            name="update-browserslist-db"/>
          <dir
            name="use-sync-external-store">
            <dir
              name="cjs">
              <dir
                name="use-sync-external-store-shim"/>
            </dir>
            <dir
              name="shim"/>
          </dir>
          <dir
            name="victory-vendor">
            <dir
              name="es"/>
            <dir
              name="lib"/>
            <dir
              name="lib-vendor">
              <dir
                name="d3-array">
                <dir
                  name="src">
                  <dir
                    name="threshold"/>
                </dir>
              </dir>
              <dir
                name="d3-color">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="d3-ease">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="d3-format">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="d3-interpolate">
                <dir
                  name="src">
                  <dir
                    name="transform"/>
                </dir>
              </dir>
              <dir
                name="d3-path">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="d3-scale">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="d3-shape">
                <dir
                  name="src">
                  <dir
                    name="curve"/>
                  <dir
                    name="offset"/>
                  <dir
                    name="order"/>
                  <dir
                    name="symbol"/>
                </dir>
              </dir>
              <dir
                name="d3-time">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="d3-time-format">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="d3-timer">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="d3-voronoi">
                <dir
                  name="src"/>
              </dir>
              <dir
                name="internmap">
                <dir
                  name="src"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="vite">
            <dir
              name="bin"/>
            <dir
              name="dist">
              <dir
                name="client"/>
              <dir
                name="node">
                <dir
                  name="chunks"/>
              </dir>
              <dir
                name="node-cjs"/>
            </dir>
            <dir
              name="misc"/>
            <dir
              name="types">
              <dir
                name="internal"/>
            </dir>
          </dir>
          <dir
            name="webextension-polyfill">
            <dir
              name="dist"/>
          </dir>
          <dir
            name="yallist"/>
        </dir>
        <dir
          name="src">
          <dir
            name="components"/>
          <dir
            name="dashboard"/>
          <dir
            name="popup"/>
          <dir
            name="scripts"/>
          <dir
            name="styles"/>
        </dir>
        <dir
          name="tests">
          <dir
            name="e2e"/>
          <dir
            name="unit"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Python"/>
    <language
      name="Web"/>
    <language_options
      useLanguagesAsFilter="true"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532"/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    use_builtin_standard="true"
    use_installed_standard="false"
    version="Python3"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
